@import url('http://fonts.cdnfonts.com/css/panton-black-caps');

:root {
    --theme: #2e86d8;
    --green: #0d7227;
    --green-bg: #0d722750;
    --yellow: #000000;
    --yellow-bg: #97781050;
}


* {
    padding: 0;
    margin: 0;
    user-select: none;
}

#app {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.navbar {
    width: 100vw;
    height: 5vh;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.logo {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 25px;
}

.title {
    color: white;
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Panton", sans-serif;
    font-family: "Panton Narrow", sans-serif;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    font-size: 12.5px;
    position: relative;
    font-family: "Panton", sans-serif;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: var(--theme);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
    font-family: "Panton", sans-serif;
    font-family: "Panton Narrow", sans-serif;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: "Trebuchet MS";
}

button {
    font-size: 20px;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    background-color: #2e86d8;
    color: white;
    transition: 300ms;
}

button:hover {
    background: #3b92e4;
}

button:focus {
    box-shadow: 0 0 0 3px #2e86d850;
}

.content .container {
    width: 70vw;
    height: 75vh;
    border-radius: 10px;
    font-family: "Panton";
    color: rgb(255, 255, 255);
}

.content .container p {
    padding: 5px;
    background: var(--green-bg);
    color: rgb(66, 180, 0);
    border: 1px solid var(--green);
}

.content .container .item {
    padding: 0px 20px;
    background: #000000;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0px;
}

.content .container .item .name {
    margin-right: auto;
    margin-left: 7.5px;
}

.content .container .item .size {
    margin-left: 7.5px;
    opacity: .5;
}