@import url('http://fonts.cdnfonts.com/css/panton-black-caps');

:root {
    --theme: #2e86d8;
}


* {
    padding: 0;
    margin: 0;
    user-select: none;
}

#app {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.navbar {
    width: 100vw;
    height: 5vh;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.logo {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 25px;
}

.title {
    color: white;
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Panton", sans-serif;
    font-family: "Panton Narrow", sans-serif;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    font-size: 12.5px;
    position: relative;
    font-family: "Panton", sans-serif;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: var(--theme);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    text-align: center;
    color: white;
}

.biglogo {
    text-align: center;
   margin-bottom: -75px;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
    font-family: "Panton", sans-serif;
    font-family: "Panton Narrow", sans-serif;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: "Trebuchet MS";
}

button {
    font-size: 20px;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    background-color: #2e86d8;
    color: white;
    transition: 300ms;
}

button:hover {
    background: #3b92e4;
}

button:focus {
    box-shadow: 0 0 0 3px #2e86d850;
}

.how-to-download {
    margin:auto;
    text-align: center;
    padding-top: 25px;
    background-color: black;
}

.how-to-download h1 {
    color: white;
    font-size: 30px;
    font-family: "Panton", sans-serif;
    font-family: "Panton Narrow", sans-serif;
}

#first {
    color: white;
    padding-left: 83%;
    font-family: "Trebuchet MS";
}
#second {
    color: white;
    padding-right: 87%;
    margin-top: -15px;
    font-family: "Trebuchet MS";
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


@media(max-width: 700px) {

    .title {
        display: none;
    }

    .logo {
        display: none;
    }

    .navbar {
        justify-content: center;    
        word-spacing: -50px;
    }
}

@media(max-width: 413px) {
    
    .title {
        display: none;
    }

    .logo {
        display: none;
    }

    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 15px;
        font-size: 12.5px;
        position: relative;
        font-family: "Panton", sans-serif;
    }
}

@media(max-width: 334px) {
    .title {
        display: none;
    }

    .logo {
        display: none;
    }

    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 7px;
        font-size: 12.5px;
        position: relative;
        font-family: "Panton", sans-serif;
    }    
}