@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    margin: 0 0;
    padding: 0 0;
}

.app {
    width: 100vw;
    height: 100vh;
    background: url('./assets/bg.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .logo {
            width: 100px;
            height: 100px;
        }

        .span-version {
            color: white;
            font-family: Poppins;
            font-weight: 600;
            font-size: 40px;
            margin-left: 20px;
        }
    }

    .download-container {
        padding: 20px 20px;
        background: #131515;
        border-radius: 10px;
        box-shadow: 0 0 20px #00000050;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        .span-header {
            color: white;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .download-item {
            width: 50rem;
            margin: 10px 10px;
            padding: 10px 10px;
            background: #171a1a;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            .file-icon {
                color: white;
                font-size: 20px;
                margin: 0 10px;
            }

            .span-version {
                color: white;
                font-family: Poppins;
            }

            .span-updated {
                color: #ffffff50;
                font-family: Poppins;
                margin-left: 10px;
            }

            .span-downloads {
                color: #ffffff25;
                font-family: Poppins;
                margin-left: 10px;
            }

            // .span-type {
            //     background: #1879c950;
            //     color: #1879c9;
            //     padding: 5px 10px;
            //     border-radius: 5px;
            //     font-family: Poppins;
            //     font-weight: 500;
            //     margin-left: 10px;
            // }

            .span-size {
                color: #ffffff50;
                font-family: Poppins;
                margin-left: auto;
                margin-right: 10px;
            }

            .button-download {
                padding: 10px 20px;
                border: 0;
                outline: 0;
                margin: 5px 10px;
                border-radius: 5px;
                font-size: 15px;
                color: white;
                background: #1879c9;
                transition: 180ms;
                cursor: pointer;
    
                &:hover {
                    background: #1a87e0;
                }
    
                &:focus {
                    box-shadow: 0 0 0 3px #1879c950;
                }
                
                &:disabled {
                    opacity: .5;
                    cursor: not-allowed;
                    // pointer-events: none;
    
                    &:hover {
                        background: #1879c9;
                    }
                }
            }
        }

        .span-credit {
            color: #ffffff50;
            font-family: Poppins;

            i {
                color: #0060FF;
            }
        }
    }
}