@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

body {
  margin: 0 0;
  padding: 0 0;
}

.app {
  width: 100vw;
  height: 100vh;
  background: url("./img/bg.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app .img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.app .img-container .logo {
  width: 100px;
  height: 100px;
}
.app .img-container .span-version {
  color: white;
  font-family: Poppins;
  font-weight: 600;
  font-size: 40px;
  margin-left: 20px;
}
.app .download-container {
  padding: 20px 20px;
  background: #131515;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3137254902);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.app .download-container .span-header {
  color: white;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.app .download-container .download-item {
  width: 25vw;
  margin: 10px 10px;
  padding: 10px 10px;
  background: #171a1a;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.app .download-container .download-item .file-icon {
  color: white;
  font-size: 20px;
  margin: 0 10px;
}
.app .download-container .download-item .span-version {
  color: white;
  font-family: Poppins;
}
.app .download-container .download-item .span-updated {
  color: rgba(255, 255, 255, 0.3137254902);
  font-family: Poppins;
  margin-left: 10px;
}
.app .download-container .download-item .span-size {
  color: rgba(255, 255, 255, 0.3137254902);
  font-family: Poppins;
  margin-left: auto;
  margin-right: 10px;
}
.app .download-container .download-item .button-download {
  padding: 10px 20px;
  border: 0;
  outline: 0;
  margin: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  background: #1879c9;
  transition: 180ms;
  cursor: pointer;
}
.app .download-container .download-item .button-download:hover {
  background: #1a87e0;
}
.app .download-container .download-item .button-download:focus {
  box-shadow: 0 0 0 3px rgba(24, 121, 201, 0.3137254902);
}
.app .download-container .download-item .button-download:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.app .download-container .download-item .button-download:disabled:hover {
  background: #1879c9;
}
.app .download-container .span-credit {
  color: rgba(255, 255, 255, 0.3137254902);
  font-family: Poppins;
}
.app .download-container .span-credit i {
  color: #0060FF;
}